.notInfos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
}

.info {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    color: #333;
    padding: 20px;
    border: 2px solid #d41c81;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.info:hover {
    transform: scale(1.05);
}